DATABASE_URL="postgresql://sannysystem:troque_esta_senha@localhost:5432/sannysystem?schema=public"
SANNYSYSTEM_ENV_FILE=""
SANNYSYSTEM_DATABASE_URL=""
SANNYSYSTEM_DIRECT_DATABASE_URL=""
POSTGRES_PRISMA_URL=""
POSTGRES_URL=""
POSTGRES_URL_NON_POOLING=""
SUPABASE_DATABASE_URL=""
NEON_DATABASE_URL=""
RAILWAY_DATABASE_URL=""
SANNYSYSTEM_DB_SSLMODE=""
SANNYSYSTEM_DB_POOL_MAX="10"
SANNYSYSTEM_DB_POOL_TIMEOUT_SECONDS="30"
SANNYSYSTEM_DB_CONNECT_TIMEOUT_SECONDS="10"
SANNYSYSTEM_DB_CONNECT_ATTEMPTS="5"
SANNYSYSTEM_AUTO_MIGRATE="true"
SANNYSYSTEM_BACKUP_ENABLED="true"
SANNYSYSTEM_BACKUP_TIME="20:00"
SANNYSYSTEM_BACKUP_RETENTION_DAYS="30"
SANNYSYSTEM_BACKUP_TIMEOUT_SECONDS="300"
SANNYSYSTEM_PG_DUMP_PATH=""
SANNYSYSTEM_SESSION_SECRET="troque-por-uma-chave-com-32-caracteres-ou-mais"
SANNYSYSTEM_JWT_SECRET="troque-por-uma-chave-jwt-com-32-caracteres-ou-mais"
SANNYSYSTEM_ACCESS_TOKEN_MINUTES="15"
SANNYSYSTEM_REFRESH_TOKEN_DAYS="7"
SANNYSYSTEM_MAX_FAILED_LOGINS="5"
SANNYSYSTEM_LOGIN_LOCK_MINUTES="15"
SANNYSYSTEM_ADMIN_EMAIL="admin@sannysystem.local"
SANNYSYSTEM_ADMIN_PASSWORD=""
SANNYSYSTEM_UPDATE_URL=""
SANNYSYSTEM_SAFE_MODE="false"
SANNYSYSTEM_RECOVERY_MODE="false"
SANNYSYSTEM_DROPBOX_ROOT=""
SANNYSYSTEM_DATA_DIR=""
SANNYSYSTEM_LOG_LEVEL="info"
